<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{#if title }} {{title}} {{else}} Contriboot {{/if}}</title>
    <meta name="keywords" content="{{#if keywords }} {{keywords}} {{else}} contributions, unconference {{/if}}">
    <meta name="theme-color" content="#911C80">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/static/basic-theme/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/static/basic-theme/apple-touch-icon.png">
    <link href="/static/basic-theme/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="//fonts.googleapis.com/css?family=Lato:300|Merriweather:400,400italic,700,700italic" rel="stylesheet" type="text/css">

    <!-- The HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body class="site">
    <div class="wrapper">
      <div class="">
        <header class="site-header">
          <div class="clearfix site-header-intro" >
            <div class="col-xs-12 col-sm-6">
              <a href="/">
                <svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" version="1.1" width="150" height="150" xml:space="preserve" class="header__logo">
                  <metadata>
                    <rdf:rdf>
                      <cc:work rdf:about="">
                        <dc:format>image/svg+xml</dc:format>
                        <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"></dc:type>
                        <dc:title></dc:title>
                      </cc:work>
                    </rdf:rdf>
                  </metadata>
                  <defs>
                    <clippath id="clipPath18">
                      <path d="M 0,0 612,0 612,612 0,612 0,0 z"></path>
                    </clippath>
                  </defs>
                  <g transform="matrix(1.25,0,0,-1.25,0,596.1641)">
                    <path d="m 0,356.93128 120,0 0,120 -120,0 0,-120 z" style="fill:#911c80;fill-opacity:1;fill-rule:nonzero;stroke:none" class="header__logo__background"></path>
                    <g transform="matrix(0.19607843,0,0,0.19607843,0,356.93128)">
                      <g clip-path="url(#clipPath18)">
                        <g transform="translate(160.917,183.5684)">
                          <path d="m 0,0 46.835,28.344 c 9.036,-16.02 17.255,-29.573 36.97,-29.573 18.898,0 30.813,7.391 30.813,36.146 l 0,195.548 57.512,0 0,-196.361 c 0,-59.569 -34.917,-86.682 -85.86,-86.682 -46.008,0 -72.714,23.827 -86.27,52.583" style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"></path>
                        </g>
                        <g transform="translate(364.2861,189.7305)">
                          <path d="M 0,0 46.828,27.114 C 59.156,6.982 75.177,-7.807 103.522,-7.807 c 23.831,0 39.026,11.915 39.026,28.348 0,19.719 -15.61,26.703 -41.902,38.203 L 86.271,64.91 c -41.495,17.662 -69.02,39.846 -69.02,86.678 0,43.135 32.864,76.002 84.218,76.002 36.562,0 62.854,-12.736 81.75,-46.013 l -44.782,-28.755 c -9.858,17.663 -20.537,24.647 -36.968,24.647 -16.843,0 -27.526,-10.682 -27.526,-24.647 0,-17.256 10.683,-24.24 35.329,-34.922 l 14.377,-6.161 c 48.887,-20.953 76.413,-42.313 76.413,-90.376 0,-51.764 -40.67,-80.108 -95.307,-80.108 C 51.35,-58.745 16.841,-33.277 0,0" style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"></path>
                        </g>
                        <g transform="translate(165.1196,68.1602)">
                          <path d="m 0,0 0,39.059 12.6,0 0,-38.338 c 0,-8.909 3.869,-12.33 12.239,-12.33 8.28,0 12.059,3.421 12.059,12.33 l 0,38.338 12.6,0 0,-39.059 c 0,-15.479 -10.709,-22.948 -24.659,-22.948 C 10.709,-22.948 0,-15.479 0,0" style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"></path>
                        </g>
                        <g transform="translate(251.1841,74.46)">
                          <path d="m 0,0 c -3.06,2.88 -7.29,8.37 -7.29,8.37 0,0 0.9,-6.75 0.9,-11.159 l 0,-25.648 -11.789,0 0,61.736 1.26,0 L 13.95,4.32 c 2.969,-2.79 7.199,-8.37 7.199,-8.37 0,0 -0.81,6.93 -0.81,11.16 l 0,25.649 11.79,0 0,-61.738 -1.26,0 L 0,0 z" style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"></path>
                        </g>
                        <g transform="translate(297.0898,76.6201)">
                          <path d="m 0,0 c 0,18.09 13.949,31.319 31.499,31.319 11.069,0 18.989,-3.96 24.479,-12.509 l -9.63,-6.84 c -2.88,4.679 -7.829,8.009 -14.849,8.009 -11.07,0 -18.54,-8.549 -18.54,-19.979 0,-11.43 7.47,-20.159 18.54,-20.159 7.919,0 12.329,3.78 15.749,9 l 9.81,-6.75 C 51.748,-26.188 43.288,-31.408 31.499,-31.408 13.949,-31.408 0,-18.089 0,0" style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"></path>
                        </g>
                        <g transform="translate(415.3389,76.6201)">
                          <path d="m 0,0 c 0,11.43 -7.56,20.159 -18.72,20.159 -11.159,0 -18.718,-8.729 -18.718,-20.159 0,-11.43 7.559,-20.159 18.718,-20.159 C -7.56,-20.159 0,-11.43 0,0 m -50.397,0 c 0,18.09 14.039,31.409 31.677,31.409 17.64,0 31.68,-13.319 31.68,-31.409 0,-18.089 -14.04,-31.408 -31.68,-31.408 -17.638,0 -31.677,13.319 -31.677,31.408" style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"></path>
                        </g>
                        <g transform="translate(462.3096,74.46)">
                          <path d="m 0,0 c -3.061,2.88 -7.29,8.37 -7.29,8.37 0,0 0.9,-6.75 0.9,-11.159 l 0,-25.648 -11.79,0 0,61.736 1.26,0 L 13.949,4.32 c 2.97,-2.79 7.199,-8.37 7.199,-8.37 0,0 -0.809,6.93 -0.809,11.16 l 0,25.649 11.789,0 0,-61.738 -1.26,0 L 0,0 z" style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"></path>
                        </g>
                        <g transform="translate(513.1299,107.2188)">
                          <path d="m 0,0 39.419,0 0,-11.069 -26.819,0 0,-20.249 24.388,0 0,-11.25 -24.388,0 0,-18.629 -12.6,0 L 0,0 z" style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"></path>
                        </g>
                      </g>
                    </g>
                  </g>
                </svg>
              </a>
            </div>
            <div class="col-xs-12 col-sm-6">
              <h3 class="header__headline">April 25 &amp; 26, 2015<br>Hamburg</h3>
            </div>
          </div>
          <div class="clearfix">
            <div class="col-xs-12">
              <nav>
                <ul class="menu">
                  <li class="menu__item"><a href="/" class="menu__item__link menu__item__link--home">Home</a></li>
                  <li class="menu__item"><a href="http://2015.jsunconf.eu" class="menu__item__link menu__item__link--home">JS Unconf</a></li>
                  <li class="menu__item"><a href="http://2015.jsunconf.eu/news/" class="menu__item__link menu__item__link--news">News</a></li>
                  <li class="menu__item"><a href="http://amiando.com/jsunconf2015" class="menu__item__link menu__item__link--tickets">Tickets</a></li>
                  <li class="menu__item"><a href="http://2015.jsunconf.eu/location/" class="menu__item__link menu__item__link--location">Location</a></li>
                  <li class="menu__item"><a href="http://2015.jsunconf.eu/sponsoring/" class="menu__item__link menu__item__link--sponsoring">Sponsoring</a></li>
                  <li class="menu__item"><a href="http://2015.jsunconf.eu/faq/" class="menu__item__link menu__item__link--sponsoring">FAQ</a></li>
                  <li class="menu__item"><a href="http://2015.jsunconf.eu/about/" class="menu__item__link menu__item__link--about">About</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </header>
      </div>
      <div class="container clearfix">
        {{{content}}}
      </div>

      <footer class="footer">
        <div class="grid footer__row">
          <div class="small-12 medium-8 large-6 small-centered columns">made with ♥ and node.js</div>
        </div>
        <div class="grid footer__row">
          <div class="small-12 medium-8 large-6 small-centered columns"><a href="http://twitter.com/jsunconf">@jsunconf</a>&nbsp;&nbsp;·&nbsp;&nbsp;<a href="http://2015.jsunconf.eu/imprint/">Imprint</a></div>
        </div>
        <div class="grid footer__row">
          <div class="small-12 medium-8 large-6 small-centered columns">We expect everybody to follow our&nbsp;<a href="http://2015.jsunconf.eu/code-of-conduct/">Code of Conduct</a>.</div>
        </div>
      </footer>
    </div>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', '{{googleAnalyticsUaCode}}', 'auto');
      ga('set', 'anonymizeIp', true);
      ga('send', 'pageview');
    </script>
  </body>
</html>
