<div ng-app="votes" ng-init="votes='{{contribution.votes}}';hasVoted={{hasVoted}};id='{{contribution._id}}'">
  <div ng-controller="VoteController">

    <h2>{{contribution.title}}</h2>

    <div>{{contribution.description}}</div>
    <div>{{contribution.name}}</div>

    {{#if contribution.twittername}}
      <a href="http://twitter.com/{{contribution.twittername}}">@{{contribution.twittername}}</a>
    {{/if}}

    {{#if tweetText}}
      <a class="tweetlink" href="http://twitter.com/home?status={{tweetText}}">Tweet about your talk!</a>
    {{/if}}

    <div class="vote-count">
      \{{votes}}
    </div>
    <form name="form" role="form" novalidate ng-submit="upvote()">
      <button class="vote-button" ng-disabled="hasVoted">
        UPVOTE
      </button>
    </form>
  </div>
  {{#if respondToDoc}}
    <h3>This contribution is a repsonse to:</h3>
    <div class="respond-to-doc">
      {{respondToDoc.title}}
    </div>
  {{/if}}
</div>

<script src="/static/bower_components/angular/angular.js"></script>
<script src="/static/basic-theme/votes.js"></script>
