<div ng-app="votes" ng-init="votes='{{interest.votes}}';hasVoted={{hasVoted}};id='{{interest._id}}'">
  <div ng-controller="VoteController">
    <h2>{{interest.title}}</h2>

    <div>{{interest.description}}</div>
    <div>{{interest.name}}</div>
    {{#if interest.twittername}}
      <a href="http://twitter.com/{{interest.twittername}}">@{{interest.twittername}}</a>
    {{/if}}

    <div class="vote-count">
      \{{votes}}
    </div>
    <form name="form" role="form" novalidate ng-submit="upvote()">
      <button class="vote-button" ng-disabled="hasVoted">
        UPVOTE
      </button>
    </form>
    <a href="/contributions/new?respondTo={{interest._id}}" class="respond-with-talk">Respond with contribution</a>
    {{#if responses}}
      {{#each responses}}
        <div class="response-to-interest">
          <a href="/contributions/{{this.value._id}}">{{this.value.title}}</a>
        </div>
      {{/each}}
    {{/if}}
  </div>
</div>

<script src="/static/bower_components/angular/angular.js"></script>
<script src="/static/basic-theme/votes.js"></script>
